/*TODO: uncomment when everything is finished*/
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Scope+One&display=swap'); */

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 900;
}

p {
  font-family: var(--font-secondary);
  color: var(--text-gray);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: var(--gradient-background);
  font-size: 16px;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

section {
  width: 90%;
  margin: auto;
}

.landing {
  padding-top: 10vh;
  width: 100%;
  min-height: 50vh;
}

.title-separator {
  width: 90%;
  margin: auto;
}

.topic-tag {
  width: 90%;
  margin: 50px auto;
}

.topic-tag::before {
  content: attr(data-before);
  font-family: var(--font-secondary);
  padding: 0.5em 1em;
  box-shadow: var(--main-box-shadow);
}

.topic-tag--primary-1::before {
  background-color: var(--accent-primary-1-light-2);
  color: var(--accent-primary-1);
}

.topic-tag--primary-2::before {
  background-color: var(--accent-primary-2-light-1);
  color: var(--accent-primary-2);
}

.side-information {
  margin: 5em auto;
  padding: 2em 4em;
  background-color: var(--accent-primary-1-light-1);
  color: var(--accent-primary-1-dark-2);
  box-shadow: var(--solid-shadow-primary-1);
  position: relative;
  overflow: hidden;
}

.side-information::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: auto;
  z-index: 1;
  background-color: var(--accent-primary-1-light-2);
  transform: rotateZ(-5deg);
}

.side-information ol {
  padding-left: 0;
  text-align: justify;
  position: relative;
  z-index: 2;
}

.side-information ol li {
  line-height: 1.8em;
  margin: 20px 0;
  font-size: 1.2em;
  font-family: var(--font-secondary);
  list-style-type: none;
}
.side-information ol li::before {
  content: url("./src/svg/Arrow-right.svg");
  margin-right: 20px;
  height: 100%;
}

.gradient-text-primaries-upper {
  background: var(--gradient-primaries-left-right-upper);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.gradient-text-primaries-left-right {
  background: var(--gradient-primaries-left-right);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-primary);
  font-weight: 900;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 60px;
  z-index: 100;
  transition: padding 500ms ease;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover:not(.nav--selected) {
  background: var(--gradient-primary-1-only);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /* text-shadow: var(--selected-shadow-primary-2); */
}

nav::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-primaries-left-right);
  opacity: 0.8;
  transform: translateY(-100px) rotateZ(15deg);
  transform-origin: top right;
  transition: transform 500ms ease;
}

.nav--selected {
  text-shadow: var(--selected-shadow-primary-1);
}

.nav--unstuck::after {
  transform: translateY(0) rotateZ(0deg);
}

.nav--unstuck {
  padding: 20px 40px;
}

.themed-image {
  border-image: var(--gradient-primaries-left-right-upper) 20;
  border-width: 10px;
  border-style: solid;
  box-shadow: var(--main-box-shadow);
  width: 100%;
  height: 100%;
}

.icon {
  display: inline-block;
}

:root {
  /* ACCENTS */
  /* primary 1*/
  --accent-primary-1: rgb(255, 20, 98);

  --accent-primary-1-light-1: rgb(255, 173, 200);
  --accent-primary-1-light-2: rgb(255, 209, 224);
  --accent-primary-1-light-3: rgb(255, 229, 238);

  --accent-primary-1-dark-1: rgb(178, 10, 66);
  --accent-primary-1-dark-2: rgb(120, 7, 45);
  --accent-primary-1-dark-3: rgb(72, 4, 27);

  /* primary 2 */
  --accent-primary-2: rgb(68, 16, 122);

  --accent-primary-2-light-1: rgb(216, 187, 246);
  --accent-primary-2-light-2: rgb(232, 214, 250);
  --accent-primary-2-light-3: rgb(242, 232, 252);

  --accent-primary-2-dark-1: rgb(50, 12, 90);

  --text-gray: #333333;

  /* GRADIENTS */
  --gradient-primary-1-only: linear-gradient(60deg, var(--accent-primary-1), var(--accent-primary-1-light-1));
  --gradient-primary-1-faded-down: linear-gradient(180deg, var(--accent-primary-1), transparent);
  --gradient-primary-2-only: linear-gradient(100deg, var(--accent-primary-2), rgb(131, 39, 227));
  --gradient-primaries-left-right: linear-gradient(90deg, var(--accent-primary-1), var(--accent-primary-2));
  --gradient-primaries-left-right-upper: linear-gradient(145deg, var(--accent-primary-1) 40%, var(--accent-primary-2));
  --gradient-background: linear-gradient(58.66deg, rgb(229, 210, 249) 24.38%, rgb(255, 235, 241) 56.41%);

  /* BOX SHADOWS */
  --main-box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.2);
  --solid-shadow-primary-1: 4px 6px 0px var(--accent-primary-1);
  --solid-shadow-primary-2: 4px 6px 0px var(--accent-primary-2);
  --special-inset-shadow: inset 0px -12px 15px rgba(0, 0, 0, 0.3);
  --glow-primary-1: 0px 0px 68px var(--accent-primary-1);
  --glow-primary-2: 0px 0px 68px var(--accent-primary-2);
  --selected-shadow-primary-1: 3px 2px 0px var(--accent-primary-1);
  --selected-shadow-primary-2: 3px 2px 0px var(--accent-primary-2);

  /*FONT FAMILIES */
  --font-primary: "Montserrat", Arial, Helvetica, sans-serif;
  --font-secondary: "Scope One", Arial, Helvetica, sans-serif;
}
