.landing-structure {
  display: grid;
  justify-items: center;
  align-items: flex-end;
  min-height: 50vh;
}

.structure-description {
  max-width: 700px;
}

.structure-description:nth-of-type(even) {
  color: var(--accent-primary-1);
  border-color: var(--accent-primary-1);
}

.structure-description:nth-of-type(odd) {
  color: var(--accent-primary-2);
  border-color: var(--accent-primary-2);
}

.structure-description p {
  color: inherit;
  font-size: 1.2em;
}
.structure-description hr {
  border-width: 5px;
  border-style: solid;
  border-color: inherit;
}

.covid19-title {
  display: grid;
  justify-items: center;
  margin-top: -150px;
  margin-bottom: 50px;
  position: relative;
}

.covid19-title__image::before {
  content: "";
  background: url("../images/covid19-1.png") center center / cover no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  inset: 0;
  margin: auto;
}

.covid19-title__image {
  position: relative;
  width: 250px;
  height: 250px;
  z-index: 0;
  background: var(--gradient-primary-2-only);
  border-radius: 50%;
}

.covid19-title__curved-text {
  background: url("../svg/Virus-structure-text.svg") center center / cover no-repeat;
  width: 250px;
  min-height: 70px;
  margin-top: -30px;
}

.general-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 48vh auto;
  opacity: 0;
  transition: opacity 300ms linear;
}

.general-data__covid19-image {
  flex-basis: 300px;
  height: 300px;
  background: var(--gradient-primary-1-only);
  box-shadow: var(--glow-primary-1);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.general-data__covid19-diameter-arrow {
  background: url("../svg//Double-arrow.svg") center center / contain no-repeat;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.e-proteins {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 48vh;
}

.e-proteins__covid19-image {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: var(--accent-primary-2-light-1);
  box-shadow: var(--glow-primary-2);
  border-radius: 50%;
}

.e-proteins__covid19-image::before,
.e-proteins__covid19-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-style: inset dashed;
  border-radius: 50%;
  margin: auto;
}

.e-proteins__covid19-image::before {
  border-width: 10px;
  inset: -10px;
  border-color: var(--accent-primary-1);
}

.e-proteins__covid19-image::after {
  inset: -20px;
  border-width: 20px;
  border-color: var(--accent-primary-2);
}

.e-proteins__covid-19-image-ring {
  position: relative;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 10px solid var(--accent-primary-1);
}

.membrane {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 60vh;
}

.membrane__covid19-image-band {
  position: absolute;
  z-index: 1;
  top: 75px;
  width: 200vw;
  height: 50px;
  background-color: var(--accent-primary-1-light-1);
}

.membrane__covid19-image {
  margin-bottom: 30px;
  z-index: 2;
  width: 200px;
  height: 200px;
  position: relative;
  background: var(--gradient-primaries-left-right);
  border-radius: 50%;
}

.membrane__covid19-image::after {
  content: "";
  background-color: var(--accent-primary-1-light-1);
  box-shadow: var(--glow-primary-1);
  border-radius: 50%;
  width: 90%;
  height: 90%;
  position: absolute;
  inset: 0;
  margin: auto;
}

.nucleus,
.nucleoproteins {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60vh;
}

.nucleus__covid19-image,
.nucleoproteins__covid19-image,
.spike-receptors__covid19-image {
  width: 400px;
  height: 400px;
  position: relative;
  background: var(--gradient-primaries-left-right-upper);
  border-radius: 50%;
}

.nucleus__covid19-image::before,
.nucleus__covid19-image::after,
.nucleoproteins__covid19-image::before,
.spike-receptors__covid19-image::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
}

.nucleus__covid19-image::before,
.spike-receptors__covid19-image::before {
  width: 90%;
  height: 90%;
  background-color: var(--accent-primary-2-light-1);
  box-shadow: var(--glow-primary-2);
}

.nucleus__covid19-image::after {
  width: 40%;
  height: 40%;
  background-color: var(--accent-primary-2);
  box-shadow: var(--glow-primary-2);
}

.nucleoproteins__covid19-image {
  box-shadow: var(--glow-primary-1);
}

.nucleoproteins__covid19-image::before {
  display: grid;
  place-items: center;
  content: url("../svg/Nucleoproteins.svg");
  background-color: var(--accent-primary-1-light-2);
  width: 90%;
  height: 90%;
}

.spike-receptors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.spike-receptors__covid19-image {
  width: 500px;
  height: 500px;
  margin-left: max(-20vw, -500px);
  outline: 50px dashed var(--accent-primary-2);
  border-image: url("../svg/Nucleoproteins.svg") 50px;
  animation: rotateSpikeReceptors 60s linear infinite;
}

@keyframes rotateSpikeReceptors {
  to {
    transform: rotateZ(360deg);
  }
}
